* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #f9bd80;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    background: #FFEDA6;
    padding: 8px 16px;
    height: 3rem; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
      
}
.main-nav {
    text-align: left;
    vertical-align: middle;
    width: calc(100% -20px);
    position: relative;
    top: 0;
    
}

.main-nav__items {
    margin: 25px;
    padding: 1rem;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.main-nav__item a{
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 6rem;
    color: white; 
    border-radius: 3rem;
    background:#672317;
    text-align: left;
}  




/* body */

.cuadro {
    background-color: #fff5d2;
  
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 15rem;
    border-radius: 0.5rem;
    vertical-align: middle;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    height: 20rem;

}

.cuadro__title {
    color: #672317;
    
}

.cuadro__subtitle {
    color: #c4bda1;
    font-size: small;
    font-style: oblique;
}

.button {
    color: white;
    background-color: #bd3a22;
    border-color: #bd3a22;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    position: absolute;
   
}
    .button:hover,
    .button:active {
        background-color: white;
        color: #bd3a22;
    }

